body{
  font-family: 'Open Sans', sans-serif;
}
.benifit {
    text-align: center;
    font-weight: bold;
    margin-bottom: 29px;
    transition: all .5s ease;
    height: 284px;
}

.benifit:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.benifit:hover .icon {
    margin-top: -10px;
}
.benifit .title {
    color: #4A90E2;
    margin-top: 21px;
    font-size: 16px;
    word-spacing: 4px;
    transition: all .5s ease;
}

.benifit:hover .title {
    margin-top: 10px;
}

.benifit:hover p {margin-top: 10px;}

.benifit p {
    width: 250px;
    margin: auto;
    font-size: 15px;
    line-height: 23px;
    color: #4a4a4a;
    word-spacing: 5px;
    transition: all .2s ease;
}
.benifit .icon{display: inline-block;background: url('../img/benifits.png') no-repeat;overflow: hidden;text-indent: -9999px;text-align: left;width: 90px;height: 90px;background-size: 180px;transition: all .5s ease;}
.benifit .icon.manage-icon{background-position: 2px 1px;}
.benifit .icon.send-icon {background-position: -88px 1px;}
.benifit .icon.collect-icon {background-position: 1px -88px;}
.benifit .icon.upload-icon {background-position: -89px -87px;}
.benifit .icon.save-icon {background-position: 1px -178px;}
.benifit .icon.Schedule-icon {background-position: -89px -178px;}
.banner {
    background:url('../img/home-banner.png');
    padding: 0;
    color: #fff;
    height: 650px;
    background-size: cover;
}
.main-content {
    padding: 0;
}

.contact {
    background: url('../img/contact-bg.png');
    background-size: cover;
    color: #fff;
    padding-bottom: 178px;
}

.up-to-date {background:url('../img/up-to-date.png');height: 631px;background-size: cover;color: #fff;}

.how {
    background: url('../img/how-bg.png');
    background-size: cover;
    color: #fff;
    text-align: center;
    height: 404px;
    margin-bottom: 14px;
}
.how .icon{display: inline-block;background: url('../img/how.png') no-repeat;overflow: hidden;text-indent: -9999px;text-align: left;width: 110px;height: 90px;background-size: 90px;margin-bottom: 22px;position: relative;}

.join .icon {background-position: 10px -0px;}
.start .icon {background-position: 10px -90px;}

.start .icon:before {content: ' ';border: 6px solid #fff;width: 23px;position: absolute;height: 7px;left: -19px;top: 41px;}
.join .icon:before {content: ' ';border: 6px solid #fff;width: 23px;position: absolute;height: 7px;right: -19px;top: 41px;}
.monitor .icon:before {content: ' ';border: 6px solid #fff;width: 23px;position: absolute;height: 7px;left: -19px;top: 41px;}

.start .icon:after {
    content: ' ';
    border: 6px solid #fff;
    width: 23px;
    position: absolute;
    height: 7px;
    right: -19px;
    top: 41px;
}
.monitor .icon {background-position: 10px -180px;}

.what .icon
{display: inline-block;background: url('../img/what.png') no-repeat;overflow: hidden;text-indent: -9999px;text-align: left;width: 55px;height: 55px;background-size: 55px;}

.what .icon.about-icon { background-position: -0px -0px; }
.what .icon.vision-icon {background-position: -0px -55px;}


.support .icon
{display: inline-block;background: url('../img/support.png') no-repeat;overflow: hidden;text-indent: -9999px;text-align: left;background-size: 80px;float: left;margin-top: 10px;}
 .help .icon {background-position: -0px -97px;width: 80px;height: 100px;}
.faq .icon {background-position: 0px 2px;width: 80px;height: 100px;}
a.angel-down {
    display: block;
    width: 30px;
    height: 16px;
    background: url('../img/angel-down.png');
    background-size: 31px;
}
nav.navbar.navbar-default {
    background: transparent;
    margin-bottom: 0;
    height: 100%;
    border: 0;
}

header {
    height: 72px;
    background: #1993c8;
}

header .navbar>.container-fluid .navbar-brand {
    width: 250px;
    margin-left: 36px;
    margin-top: 2px;
}

.navbar-brand img {
    width: 100%;
}

.navbar-default .navbar-collapse {margin-left: 489px;margin-top: 12px;}

.navbar-default .navbar-nav>li>a {
    color: #64bde7;
    letter-spacing: 1.5px;
    padding-left: 12px;
    transition: all .5s ease;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background: transparent;
}

.navbar-btn {
    color: #fff;
    background: transparent;
    border: 2px solid;
    border-radius: 16px;
    width: 93px;
    height: 34px;
    transition: all .5s ease;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    background: #1b51a8;
    color: #fff;
    border-color: #fff;
}
.main .logo {
    margin-top: 92px;
    width: 231px;
}

.main h2 {
    font-size: 38px;
    font-weight: bold;
    margin-top: 41px;
}

.main p {
    width: 47%;
    margin: auto;
    font-size: 18px;
    color: #f0feff;
    font-family: 'Arimo', sans-serif;
    margin-top: 19px;
    line-height: 23px;
}
button.btn.btn-primary {
	background-image: -webkit-gradient(  linear,  left bottom,  right bottom,  color-stop(0, #ff0c66),  color-stop(1, #FC7637) );
	background-image: -o-linear-gradient(right, #FF0468 0%, #FC7637 100%);
	background-image: -moz-linear-gradient(right, #FF0468 0%, #FC7637 100%);
	background-image: -webkit-linear-gradient(right, #FF0468 0%, #FC7637 100%);
	background-image: -ms-linear-gradient(right, #FF0468 0%, #FC7637 100%);
	background-image: linear-gradient(to right, #FF0468 0%, #FC7637 100%);
	border-radius: 30px;
	border: 0;
	}

.main button.btn.btn-primary {
    margin-top: 66px;
    height: 57px;
    width: 270px;
    font-size: 19px;
}

button.btn.btn-primary:focus {outline: none;}

button.btn.btn-primary:hover {
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #FF0468), color-stop(1, #FC7637) );
    background-image: -o-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: -moz-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: -webkit-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: -ms-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: linear-gradient(to right, #FC7637 0%, #ff1364 100%);
}

.main a.angel-down {
    left: 50%;
    position: relative;
    margin-left: -15px;
    margin-top: 82px;
}
.container h3 {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin-top: 48px;
    margin-bottom: 50px;
}

.what h3 {
    color: #484848;
}

.what p {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    word-spacing: 4px;
}
.row.about-vision {
    margin: auto;
    margin-top: 30px;
    float: left;
    width: 95%;
    left: 5%;
    position: relative;
}

.row.about-vision>div {
    padding: 60px 6px;
    height: 420px;
    margin-bottom: 63px;
    transition: all .5s ease;
}

.about-vision .title {
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-top: 24px;
    background: -webkit-gradient(  linear,  left bottom,  right bottom,  color-stop(0, #053c9c),  color-stop(2, #159dbe) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-vision p {
    font-size: 16px;
    font-weight: bold;
    color: #4A4A4A;
    width: 80%;
    text-align: left;
    margin: 0;
    letter-spacing: .7px;
    margin-top: 14px;
}
.about-vision button.btn.btn-primary {
    position:relative;
    width: 86px;
    height: 35px;
    margin: auto;
    background: #fff;
    color: #515151;
    padding: 0;
    font-size: 12px;
    text-align: left;
    line-height: 30px;
    padding: 0 15px;
    opacity: 0;
    margin-top: 58px;
    margin-left: -16px;
 }

.about-vision button.btn.btn-primary i {
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #ff0c66), color-stop(1, #FC7637) );
    background-image: -o-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: -moz-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: -webkit-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: -ms-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: linear-gradient(to right, #FF0468 0%, #FC7637 100%);
    border-radius: 50%;
    color: #fff;
    width: 16px;
    height: 16px;
    font-size: 10px;
    line-height: 15px;
    position: absolute;
    right: 6px;
    top: 9px;
    text-align: center;
}
 .about-vision button.btn.btn-primary:after{
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    content: '';
    z-index: -1;
    border-radius: 25px;
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #ff0c66), color-stop(1, #FC7637) );
    background-image: -o-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: -moz-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: -webkit-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: -ms-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: linear-gradient(to right, #FF0468 0%, #FC7637 100%);
 }
.row.about-vision>div:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    padding-left: 46px;
    padding-top: 50px;
}

.row.about-vision>div:hover button.btn.btn-primary {
    opacity: 1;
}
.how label {
    display: block;
    font-size: 16px;
    width: 250px;
    margin: auto;
    letter-spacing: 1px;
    line-height: 19px;
}

.how .join:after {
    content: ' ';
    border: 2px dashed #fff;
    width: calc(100% - 132px);
    position: absolute;
    height: 3px;
    display: block;
    left: calc(50% + 51px);
    top: 45px;
}

.how .join:before {
    content: ' ';
    border: 2px dashed #fff;
    width: calc(100% - 112px);
    position: absolute;
    height: 3px;
    display: block;
    left: calc(50% + 61px);
    top: 45px;
}

.how .start:after {content: ' ';border: 2px dashed #fff;width: calc(100% - 104px);position: absolute;height: 3px;display: block;left: calc(50% + 53px);top: 45px;}
.how a.link {
    color: #fff;
    margin-top: 84px;
    float\:;
    float: left;
    left: 50%;
    position: relative;
    margin-left: -25px;
}

.how a.link i {
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #ff0c66), color-stop(1, #FC7637) );
    background-image: -o-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: -moz-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: -webkit-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: -ms-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: linear-gradient(to right, #FF0468 0%, #FC7637 100%);
    border-radius: 50%;
    color: #ca3f3c;
    width: 15px;
    height: 15px;
    font-size: 11px;
    line-height: 16px;
}

.container h4 {
    text-align: center;
    font-size: 25px;
}

.digitilize button.btn.btn-primary {
    height: 50px;
    /* margin-top: 8px; */
    width: 261px;
    position: relative;
    /* width: 86px; */
    /* height: 35px; */
    margin: auto;
    background: #fff;
    color: #515151;
    padding: 0;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    padding: 0 15px;
    margin-top: 8px;
    /* background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #053c9c), color-stop(2, #159dbe) ); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

.container.digitilize {
    text-align: center;
    margin-bottom: 30px;
}

.digitilize button.btn.btn-primary:before {

}

.digitilize button.btn.btn-primary:after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    content: '';
    z-index: -1;
    border-radius: 32px;
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #ff0c66), color-stop(1, #FC7637) );
    background-image: -o-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: -moz-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: -webkit-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: -ms-linear-gradient(right, #FF0468 0%, #FC7637 100%);
    background-image: linear-gradient(to right, #FF0468 0%, #FC7637 100%);
}
.digitilize button.btn.btn-primary span {
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #fe185e), color-stop(2, #fd6242) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.support {
    text-align: left;
    margin: auto;
    margin-top: 100px;
    float: left;
    width: 91%;
    left: 5%;
    margin-bottom: -70px;
    z-index: 99;
    position: relative;
}

.support>div {
    box-shadow: 0 11px 14px 0 rgba(0, 0, 0, 0), 0 8px 10px 0 rgba(0, 0, 0, 0.19);
    width: 48%;
    margin-right: 1%;
    padding: 0;
    margin-left: 1%;
    background: #fff;
    border-radius: 3px;
    height: 161px;
    padding-top: 10px;
}
.support .content {
    float: left;
    padding-left: 27px;
}

.support .content .title {
    font-weight: bold;
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0, #fe185e), color-stop(2, #fd6242) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
}

.support .content p {
    font-weight: bold;
    font-size: 15px;
    margin-top: 12px;
    width: 163px;
}
.up-to-date h2 {
    margin-top: 272px;
    margin-left: 66px;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.up-to-date button.btn.btn-primary {
    margin-top: 82px;
    margin-left: 180px;
    width: 266px;
    height: 50px;
    font-size: 18px;
}
.partners h3 {
    margin-top: 40px;
    font-size: 28px;
}

.carousel {
    width: 73%;
    margin: auto;
    margin-top: 26px;
    margin-bottom: 69px;
}

.partner-img {
    width: 240px;
}

.partner-img img {
    width: 100%;
}

.carousel-control.right {
    margin-right: -140px;
    color: #999999;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 0 11px 14px 0 rgba(0, 0, 0, 0), 0 7px 18px 0 rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-top: 50px;
}

.carousel-control.right span:before {
    font-size: 17px;
    line-height: 30px;
}
.carousel-control.left span:before {
    font-size: 17px;
    line-height: 30px;
}

.carousel-control.right span,.carousel-control.left span {
    text-shadow: none;
}

.carousel-control.left {
    margin-left: -140px;
    color: #999999;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 0 11px 14px 0 rgba(0, 0, 0, 0), 0 7px 18px 0 rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-top: 50px;
}
.contact h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 30px;
}

.contact-form {
    margin-top: 10px;
    padding-left: 70px;
    padding-right: 190px;
}

.contact-form p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
}

.contact-form input {
    width: 100%;
    color: #5f5055;
    background: rgba(255,255,255,0.8);
    height: 33px;
    border: 1px solid #9a8a90;
    border-radius: 3px;
    padding-left: 32px;
    font-size: 13px;
}

.contact-form textarea {
    width: 100%;
    color: #5f5055;
    background: rgba(255,255,255,0.8);
    height: 33px;
    border: 1px solid #9a8a90;
    border-radius: 3px;
    padding-left: 32px;
    font-size: 13px;
    height: 144px;
    margin-top: 17px;
    border-radius: 3px;
}

.col-md-12 {}

.contact-form button.btn.btn-primary {
    margin-top: 15px;
    background: #04459e;
    width: 260px;
    left: 50%;
    position: relative;
    margin-left: -130px;
    height: 55px;
    margin-bottom: 15px;
}
.contact-details {
    margin-top: 45px;
    padding-left: 47px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

.contact-details .detail {
    margin-bottom: 20px;
}

.contact-details .social .social-item {
    float: left;
    font-size: 21px;
    width: 20px;
    margin-right: 19px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
    padding-top: 70px;
    color: #fff;
}

html {
    position: relative;
}
footer .logo {
    margin-top: 35px;
    margin-left: 59px;
}

footer .logo img {
    width: 219px;
}

.copy-rights {
    margin-left: 59px;
}
.links a {
    display: inline-block;
    float: left;
    width: 100%;
    color: #fff;
    margin-top: 4px;
}
.col-md-4.footer-links {
    padding-left: 103px;
}

.footer-links label {
    font-size: 17px;
    font-weight: normal;
    border-bottom: 2px groove #fff;
    width: 180px;
    padding-bottom: 10px;
}
footer .container {
    padding-top: 20px;
}
.contact .sep {
    height: 1px;
    border: 1px groove #fff;
    width: 90%;
    margin: auto;
}
.input-name span, .input-email span, .text-area span
{display: inline-block;background: url('../img/contact.png') no-repeat;overflow: hidden;text-indent: -9999px;text-align: left;/* width: 25px; *//* height: 20px; */position: absolute;z-index: 999;top: 5px;left: 20px;}

.input-name span{background-position: -0px -0px;width: 22px;height: 20px;}
.input-email span {background-position: -0px -20px;width: 19px;height: 12px;top: 11px;}
.text-area span {background-position: -0px -32px;width: 18px;height: 20px;top: 20px;}
